#plataforma{
        width: 100%;
        margin-top: -0.6%;
}
    #azulzinha{
        /* background-color: rgba(38, 0, 255, 0.363); */
        margin-left: 800px;
        margin-top: -500px;
        color: whitesmoke;
        width: 1000px;
        font-size: 50px;
    }
    .fundoInvinsivel{
        margin-left: 1600px;
        background-color: rgba(240, 248, 255, 0);
        color: whitesmoke;
        margin-top: 50px;
        height: 50px;
        width: 100px;
        border-radius: 15px;
        border: 1px solid whitesmoke
    }
