.cards{
  margin-top: 500px;
}
.equipe2{
        border-radius: 10%;
        width: 25%;
        margin-left: 310px;
        margin-right: -308px;
       
        
    }

    .forem{
        color: #04517B;
       margin-right: 200px;
       margin-left: 100px;
        
    }
    .lorem1{
      color: #04517B;
     margin-left: 300px;
     margin-top: 80px;
      
  }

.cargo{
    color: #04517B;
    margin-left: 340px;
    margin-right: -280px;
}
  
  .card1{
    width: 60rem;
    display: flex;
    justify-content: flex-end;
    margin: 10rem;
  }
  .lorem {
    max-width: 600px;
    margin-left: auto;
   }


.card2{
        width: 60rem;
        display: flex;
        justify-content: flex-end;
        margin: 10rem;
}
      .lorem{
        max-width: 600px;
        
        margin: auto;
       
       }
    
