.cards{
  width: 90%;

  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.cards .card{

  flex: 0 0 50%;

  width: 50%;
  min-height: 300px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  column-gap: 20px;

  text-align: left;

  margin: 20px auto;
}

.card img{
  flex: 1 1 10%;
  margin: 0;

  max-width: 225px;
}

.card div{
  flex: 0 1 90%;

  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
}

.card div h1{
  color: #233363;

  font-size: 3rem;
}

/* .card div h1 sup{
  color: #585858;
  font-weight: 500;

  font-size: 1.5rem;
} */

.card div h1 span{
  color: #585858;
  font-weight: 500;

  font-size: 1.5rem;
  position: relative;
  top: -15px;
}

.card div p {
  color: #010101;
  font-size: 1.3rem;
  /* text-align: justify; */
  line-height: 35px;

  width: 80%;

  text-align: justify;
}

.cards .cardR{
  flex-flow: row-reverse nowrap;
  justify-content: center;
  text-align: right;
}

.cards .cardR h1{
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  column-gap: 20px;
}


.cards .cardR div h1 span{
  color: #585858;
  font-weight: 500;
  font-size: 1.5rem;
  top: 20px;

  order: -1;
}

.cards .cardR div p{
  margin-left: auto;
}



/* .equipe2 {
  border-radius: 10%;
  width: 25%;
  margin-left: 120px;
  margin-right: 120px;

}

.lorem {
  color: #04517B;
  padding-left: 50px;

}

.cargo {
  color: #04517B;
  margin-left: -100px;
  margin-right: -100px;
}

.card1 {
  width: 60rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 350px;
  margin-left: 351px;
}

.lorem {
  max-width: 1000px;
  margin-left: 50px;
  margin: auto;
  padding-top: 30px;
  margin-right:50px;
}


.card2 {
  width: 60rem;
  display: flex;
  justify-content: flex-end;
  margin-left: 585px;
}

.lorem {
  max-width: 600px;
  margin-left: auto;
  margin: auto;
  padding-top: 30px;
  margin-right: 5rem;
} */