@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-size: 62.5%;
}

.header {
  width: 100%;
}

.header nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}

.header nav ul a {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #233363 !important;
}

.header .responsiveButton {
  display: none;
}

.header nav ul a:hover {
  transform: scale(1.1);
}

.header img {
  width: 15rem !important;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: left;
  }

  .header nav ul a.links {
    display: none;
  }

  .header nav ul a.responsiveButton {
    display: block;
    font-size: 1rem;
    color: white !important;
    background-color: #2c3d70;
    padding: 1rem;
    border: 1px solid rgba(3, 4, 94, 1);
    border-radius: 20px;
  }

  .header .logoResponsiva {
    display: block;
  }

  .header img {
    display: none;
  }

  .links {
    display: none;
  }
}
