
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
 .animated p, h1, h2 {
   animation: slideIn 1s ease-out;
  }

  h2{
    font-size: 1.7em;
  }
  