@import 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap';
.header {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.header img {
  width: 15rem;
}
.header nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header nav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.header_container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header_container img {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
.header_container .bg_img {
  position: absolute;
  width: 100%;
  height: 52rem;
  z-index: -1;
}
@media only screen and (max-width: 1600px) {
  .header_container .bg_img {
    height: 46.8rem;
  }
}
.header_container .article_header_container {
  margin: auto 75rem auto auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  color: #FFFFFF;
  gap: 2rem;
}
.header_container .article_header_container img {
  width: 28rem;
  grid-row: 1/3;
  grid-column: 1/2;
  margin-left: 2rem;
  align-self: end;
  margin-top: 5%;
}
.header_container .article_header_container #h2principal {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 27rem;
  align-self: end;
}
.header_container .article_header_container #pprincipal {
  grid-column: 2/8;
  grid-row: 2/3;
  width: 37rem;
  font-size: 1.4rem;
}
.header_container .footer_header_container {
  position: relative;
  bottom: 4rem;
  z-index: -1;
}
@media only screen and (max-width: 1920px) {
  .header_container .footer_header_container {
    bottom: 3rem;
  }
}
@media only screen and (max-width: 1600px) {
  .header_container .footer_header_container {
    bottom: 6rem;
  }
}
.header_container .footer_header_container img {
  width: 100%;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
.header_container .footer_header_container article {
  position: absolute;
  bottom: 3.8rem;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20rem;
  align-items: center;
  z-index: 2;
}
@media only screen and (max-width: 1920px) {
  .header_container .footer_header_container article {
    bottom: 2rem;
  }
}
@media only screen and (max-width: 1920px) {
  .header_container .footer_header_container article {
    gap: 15rem;
  }
}
@media only screen and (max-width: 1600px) {
  .header_container .footer_header_container article {
    gap: 8rem;
    bottom: 1rem;
  }
}
.header_container .footer_header_container article .tracejado {
  width: 2px;
  border: thin solid #FFFFFF;
  background-color: #FFFFFF;
  height: 5rem;
}
.header_container .footer_header_container article div .title {
  font-size: 2.5rem;
}
@media only screen and (max-width: 1600px) {
  .header_container .footer_header_container article div .title {
    font-size: 1.4rem;
  }
}
.header_container .footer_header_container article div .content {
  font-size: 1rem;
}

main .helps {
  display: flex;
  flex-direction: column;
}
main .helps .helps_container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}
main .helps .helps_container .helps_article {
  color: #233363;
}
main .helps .helps_container .helps_article .title {
  font-size: 3rem;
  width: 26rem;
  margin-top: 2rem;
}
main .helps .helps_container .helps_article .content {
  font-size: 1.5rem;
  margin-top: 2rem;
}
main .helps .helps_container .cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
main .helps .helps_container .cards .card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 2rem;
  padding: 0.8rem;
}
main .helps .helps_container .cards .card img {
  width: 6rem;
}
main .helps .helps_container .cards .card .title {
  color: #233363;
}
main .helps .helps_container .cards .card p {
  color: #233363;
}
main .helps h3 {
  text-align: center;
  font-size: 4rem;
  color: #233363;
}

.headersobre {
  background-color: #04517B;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 35rem;
}

.sistema-img {
  max-width: 300px;
  margin-right: 15rem;
  padding-top: 30px;
}

.imagemsiapesq {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagemsiapesq p {
  color: white;
  max-width: 600px;
}

.imagem-equipe {
  width: 60rem;
  display: block;
  align-items: right;
  margin: 2rem auto;
}

.equipe h1 {
  color: #04517B;
  text-align: center;
}

.cards img {
  border-radius: 20px;
}
.cards p {
  color: #04517B;
}

.card1 {
  width: 60rem;
  display: flex;
  justify-content: flex-end;
  margin: 10rem;
}
.card1 p {
  max-width: 600px;
  margin-left: auto;
  margin: auto;
  padding-top: 30px;
  margin-right: 5rem;
}

.card2 {
  width: 60rem;
  display: flex;
  justify-content: flex-end;
  margin: 10rem;
}
.card2 p {
  max-width: 600px;
  margin-left: auto;
  margin: auto;
  padding-top: 30px;
  margin-right: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}/*# sourceMappingURL=style.css.map */