
.header{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;

    img{
        width: 25rem;
    }
    nav{
        ul{
            display: flex;
            align-items: center;
            gap: 3rem;

            a{
                color:white;
                text-decoration: none;
                font-size: 2rem;
            }
        }
    }
}