@import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap";

:root {
  font-size: 62.5%;
}

.containerPesca {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/src/imgs/fundoBarco3.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  min-height: 100vh;
  width: 100%;

  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
}

.containerPesca .title {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.containerPesca .title h2 {
  font-size: 3rem !important;
  color: white;
  font-family: "Mulish", sans-serif;
}

.containerPesca .divBarco {
  width: 110%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
}

.containerPesca .divInfos > .infoContainer {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1.5rem;
}

.infoContainer > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.divInfos {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;

  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.divInfos .infoContainer {
  width: 60%;
  border: 3px solid white;
  padding: 2rem;
  border-radius: 1rem;
}

.containerPesca .divInfos .infoContainer div {
  border-right: 1px solid white;
  padding-right: 2rem;
}

.containerPesca .divInfos .infoContainer div:last-child {
  border: none;
}

.containerPesca .divInfos .infoContainer h3 {
  font-size: 4rem;
}

.containerPesca .divInfos .infoContainer p {
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .divInfos {
    display: none;
  }

  .containerPesca .divBarco {
    width: 120%;
  }
}

@media screen and (max-width: 768px) {
  .containerPesca .divBarco {
    display: none;
  }
  .containerPesca {
    background-image: none;
    background-color: white;
  }

  .containerPesca .title h2 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
  }

  .containerPesca .divInfos {
    display: flex;
    flex-flow: row nowrap;

    border: none;
    position: static;
    transform: none;
  }

  .containerPesca .divInfos .infoContainer {
    flex-flow: column nowrap;

    row-gap: 4rem;

    border: none;
    color: black;
  }

  .containerPesca .divInfos .infoContainer > div p {
    font-size: 1.2rem;
  }

  .containerPesca .divInfos .infoContainer > div::after {
    content: "";
    display: block;
    height: 5rem;
    width: 0.2rem;
    border-radius: 10px;
    background-color: black;

    margin-top: 2rem;
  }

  .containerPesca .divInfos .infoContainer > div:last-child::after {
    display: none;
  }
}
