
.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .barco {
    width: 100%;
    height: auto;
  }
  
  .texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background: rgba(0, 0, 0, 0.4);
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 50px;
  }
  
  .porcentagem{
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .textoporcentagem {
    text-align: center;
    max-width: 200px;
    margin-top: -250px;
  }
  
  .textoporcentagem h2 {
    font-size: 2.5em;
    margin: 0;
    color: #fff;
  }
  
  .textoporcentagem p {
    font-size: 1em;
    color: #fff;
  }
  