.cards {
    text-align: center;
    padding: 200px;
}
  
   #h1cardume {
      font-size: 35px;
      color: #1e3066;
      margin-bottom: 10px;
    }
  
    #peixetextinho {
      color: #233363;
      margin-bottom: 20px;
      font-size: 25px;
    }
  
    .card-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
      .card {
        width: 22%; 
        margin-bottom: 20px;
      }
       .textopeixe {
          font-size: 25px;
          color: #1e3066;
          margin-bottom: 10px;
        }
  
        .imgpeixe {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 10px;
        }
  
        .textinho {
          font-size: 25px;
          color: #1e3066;
          font-weight: bold;
        }
    
  
    .obs {
      font-size: 25px;
      color: #233363;
      margin-top: 25px;
    }
  